# Version strings

VER_PACKAGE=eapssp
VER_PACKAGE_NAME=EapSSP
VER_PACKAGE_BUGREPORT=support@padl.com
VER_PACKAGE_COPYRIGHT=Copyright (C) 2012 PADL Software Pty Ltd
VER_PACKAGE_COMPANY=www.padl.com

VER_PRODUCT_MAJOR=1
VER_PRODUCT_MINOR=0

VER_PACKAGE_VERSION=$(VER_PRODUCT_MAJOR).$(VER_PRODUCT_MINOR).$(VER_PRODUCT_AUX)

# Define to 1 if this is a pre-release build.  Undefine otherwise
VER_PRERELEASE=1

# Define to a valid string if this build DOES NOT follow normal
# release procedures.  I.e. this is a private build whose version
# numbers are not co-ordinated with mainline development.

#VER_PRIVATE=Private build for MyCompany

# Define to a valid string if this build DOES follow normal release
# procedures, but is a variation of the standard files of the same
# version numbers.

#VER_SPECIAL=Special build for testing ticket 12345

HEIMDAL_SDKDIR		=$(SRC)\..\heimdal\out\sdk
HEIMDAL_SDKINCDIR	=$(HEIMDAL_SDKDIR)\inc
HEIMDAL_SDKLIBDIR	=$(HEIMDAL_SDKDIR)\lib\$(CPU)
HEIMDAL_BINDIR		=$(HEIMDAL_SDKDIR)\..\dest_$(CPU)\bin

# Acceptor dependencies

JANSSON_SDKDIR		=$(SRC)\..\jansson\out\dest_$(CPU)
JANSSON_SDKINCDIR	=$(JANSSON_SDKDIR)\inc
JANSSON_SDKLIBDIR	=$(JANSSON_SDKDIR)\lib

LEVENT_SDKDIR		=$(SRC)\..\levent\out\dest_$(CPU)
LEVENT_SDKINCDIR	=$(LEVENT_SDKDIR)\inc
LEVENT_SDKLIBDIR	=$(LEVENT_SDKDIR)\lib

RADSEC_SDKDIR		=$(SRC)\..\libradsec\lib\out\dest_$(CPU)
RADSEC_SDKINCDIR	=$(RADSEC_SDKDIR)\inc
RADSEC_SDKLIBDIR	=$(RADSEC_SDKDIR)\lib

# ------------------------------------------------------------
# DDK build environment
DDKDIR			=C:\WinDDK\7600.16385.1
BUILD_TARGET		=win7

# ------------------------------------------------------------
# Features
#
# For each feature enabled here, a corresponding line must exist in
# the inline Perl script in include\NTMakefile.

# Enable acceptor
GSSEAP_ENABLE_ACCEPTOR=1
BUILD_INSTALLERS=1
