/aclocal.m4
/autom4te.cache
/build-aux
/compile
/config.guess
/config.log
/config.status
/config.sub
/config.h
/configure
/config.h.in
/depcomp
/stamp-h1

/libtool
/ltmain.sh
/missing
/m4

/gssbrowserid_err.[ch]
/libbrowserid_err.[ch]
/mech_browserid.spec

.DS_Store
diffs

Makefile.in
Makefile

*.orig
*.patch
*.la
*.lo
*~

.deps
.libs
.a.out.dSYM
.dSYM

vers.c
