variables:
  DOCKER_DRIVER: overlay2

stages:
- build

before_script:
    - rm -fr build SOURCES RPMS

centos6:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/centos6:latest
  stage: build
  tags:
    - moonshot
  script:
    - sed -i "s/\(.\)%{?dist}/\1b$CI_PIPELINE_ID%{?dist}/g" mech_eap.spec.in
    - printf "[moonshot]\nname=moonshot\nbaseurl=https://$NEXUS_USER:$NEXUS_PWD@nexus.ci.ti.ja.net/repository/moonshot/centos6\nenabled=1\ngpgcheck=0" > /etc/yum.repos.d/moonshot.repo
    - yum -y install libradsec-devel moonshot-ui-devel
    - sh autogen.sh
    - ./configure
    - make dist
    - mkdir SOURCES
    - mv mech_eap-1.0.1.tar.gz SOURCES
    - rpmbuild -bb mech_eap.spec --define "_topdir `pwd`"
    - for i in RPMS/x86_64/*.rpm; do curl --user "$NEXUS_USER:$NEXUS_PWD" -f --upload-file "$i"  https://nexus.ci.ti.ja.net/repository/moonshot/centos6/; done
  artifacts:
    paths:
        - RPMS

centos7:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/centos7:latest
  stage: build
  tags:
    - moonshot
  script:
    - sed -i "s/\(.\)%{?dist}/\1b$CI_PIPELINE_ID%{?dist}/g" mech_eap.spec.in
    - printf "[moonshot]\nname=moonshot\nbaseurl=https://$NEXUS_USER:$NEXUS_PWD@nexus.ci.ti.ja.net/repository/moonshot/centos7\nenabled=1\ngpgcheck=0" > /etc/yum.repos.d/moonshot.repo
    - yum -y install libradsec-devel moonshot-ui-devel
    - sh autogen.sh
    - ./configure
    - make dist
    - mkdir SOURCES
    - mv mech_eap-1.0.1.tar.gz SOURCES
    - rpmbuild -bb mech_eap.spec --define "_topdir `pwd`"
    - for i in RPMS/x86_64/*.rpm; do curl --user "$NEXUS_USER:$NEXUS_PWD" -f --upload-file "$i"  https://nexus.ci.ti.ja.net/repository/moonshot/centos7/; done
  artifacts:
    paths:
        - RPMS

debian8:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/debian8:latest
  stage: build
  tags:
    - moonshot
  script:
    - dch -l "b$CI_PIPELINE_ID" "Include job ID"
    - "curl -L -H \"PRIVATE-TOKEN: $TOKEN\" https://gitlab.ci.ti.ja.net/moonshot/ui/-/jobs/artifacts/develop/download?job=debian8 -o deps.zip"
    - unzip deps.zip
    - "dpkg -i build/*.deb || true"
    - apt-get install -fy
    - rm -fr build deps.zip
    - autoreconf -fi
    - ./configure
    - make dist
    - mv mech_eap-1.0.1.tar.gz ../moonshot-gss-eap_1.0.1.orig.tar.gz
    - debuild -us -uc
    - mkdir build
    - cp ../*.deb build
  artifacts:
    paths:
        - build/*.deb

debian9:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/debian9:latest
  stage: build
  tags:
    - moonshot
  script:
    - dch -l "b$CI_PIPELINE_ID" "Include job ID"
    - "curl -L -H \"PRIVATE-TOKEN: $TOKEN\" https://gitlab.ci.ti.ja.net/moonshot/ui/-/jobs/artifacts/develop/download?job=debian9 -o deps.zip"
    - unzip deps.zip
    - "dpkg -i build/*.deb || true"
    - apt-get install -fy
    - rm -fr build deps.zip
    - sh autogen.sh
    - ./configure
    - make dist
    - mv mech_eap-1.0.1.tar.gz ../moonshot-gss-eap_1.0.1.orig.tar.gz
    - debuild -us -uc
    - mkdir build
    - cp ../*.deb build
  artifacts:
    paths:
        - build/*.deb


ubuntu14:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/ubuntu14:latest
  stage: build
  tags:
    - moonshot
  script:
    - dch -l "b$CI_PIPELINE_ID" "Include job ID"
    - "curl -L -H \"PRIVATE-TOKEN: $TOKEN\" https://gitlab.ci.ti.ja.net/moonshot/ui/-/jobs/artifacts/develop/download?job=ubuntu14 -o deps.zip"
    - unzip deps.zip
    - "dpkg -i build/*.deb || true"
    - apt-get install -fy
    - rm -fr build deps.zip
    - autoreconf -fi
    - ./configure
    - make dist
    - mv mech_eap-1.0.1.tar.gz ../moonshot-gss-eap_1.0.1.orig.tar.gz
    - debuild -us -uc
    - mkdir build
    - cp ../*.deb build
  artifacts:
    paths:
        - build/*.deb

ubuntu16:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/ubuntu16:latest
  stage: build
  tags:
    - moonshot
  script:
    - dch -l "b$CI_PIPELINE_ID" "Include job ID"
    - "curl -L -H \"PRIVATE-TOKEN: $TOKEN\" https://gitlab.ci.ti.ja.net/moonshot/ui/-/jobs/artifacts/develop/download?job=ubuntu16 -o deps.zip"
    - unzip deps.zip
    - "dpkg -i build/*.deb || true"
    - apt-get install -fy
    - rm -fr build deps.zip
    - autoreconf -fi
    - ./configure
    - make dist
    - mv mech_eap-1.0.1.tar.gz ../moonshot-gss-eap_1.0.1.orig.tar.gz
    - debuild -us -uc
    - mkdir build
    - cp ../*.deb build
  artifacts:
    paths:
        - build/*.deb

ubuntu18:
  image: registry.ci.ti.ja.net/jisc/moonshot-build/ubuntu18:latest
  stage: build
  tags:
    - moonshot
  script:
    - dch -l "b$CI_PIPELINE_ID" "Include job ID"
    - "wget --header \"PRIVATE-TOKEN: $TOKEN\" https://gitlab.ci.ti.ja.net/moonshot/ui/-/jobs/artifacts/develop/download?job=ubuntu18 -O deps.zip"
    - unzip deps.zip
    - "dpkg -i build/*.deb || true"
    - apt-get install -fy
    - rm -fr build deps.zip
    - autoreconf -fi
    - ./configure
    - make dist
    - mv mech_eap-1.0.1.tar.gz ../moonshot-gss-eap_1.0.1.orig.tar.gz
    - debuild -us -uc
    - mkdir build
    - cp ../*.deb build
  artifacts:
    paths:
        - build/*.deb
