/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/config.h
/configure
/config.h.in
/depcomp

/libtool
/ltmain.sh
/missing

/gssbrowserid_err.[ch]
/libbrowserid_err.[ch]

.DS_Store

Makefile.in
Makefile

*.la
*.lo
*~

.deps
.libs
.a.out.dSYM
.dSYM
