Source: moonshot-gss-eap
Section: net
Priority: optional
Maintainer: Sam Hartman <hartmans@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libshibsp-dev (>= 1.5+dfsg~moonshot1), 
    libradsec-dev, libkrb5-dev (>= 1.9), libshib-resolver-dev
Standards-Version: 3.9.1
Homepage: http://www.project-moonshot.org/
Vcs-Git: http://www.project-moonshot.org/git/moonshot.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/moonshot-gss-eap.git;a=summary

Package: moonshot-gss-eap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Moonshot Federated Authentication - authentication mechanism
 Project moonshot provides federated authentication using EAP, RADIUS
 and SAML to applications beyond the web platform. This package
 contains the client and server plugins to perform authentication.
